.quizContainer{
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
    
 }
 .quizModel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-color: rgb(206, 203, 203);
    border-radius: 25px;
    box-shadow:  6px 3px #d8d5d5;
    padding: 25px 40px;
    margin-top: 100px;
 }
 
 .quizeQuestion {
     line-height: 40px;
     font-size: 20px;
 }

 .resultContainer{
     margin-top: 10px;
     display: flex;
     height: 20px;
 }