.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.modelResults {
  margin-top: 100px;
  padding: 50px 30px;
  border: 1px solid;
  border-color: rgb(206, 203, 203);
  border-radius: 25px;
  box-shadow: 10px 6px #d8d5d5;
}

.headerText {
  font-weight: bold;
  margin-top: 35px 0px 0px 0px;
  line-height: 25px;
}

.subHeaderText {
  line-height: 20px;
  margin: 0px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  height: 30px;
}

.label {
  margin-top: 12px;
}

.input {
  width: 70px;
  height: 20px;
  margin: 10px 5px 5px 5px;
}

.submitBtn {
  background-color: #358380;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.errorMessage {
  color:red;
  font-size:14;
  margin-left:60;
}