.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modelHome {
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px 40px;
  border: 1px solid;
  border-color: rgb(206, 203, 203);
  border-radius: 25px;
  box-shadow: 10px 6px #d8d5d5;
  margin-top: 100px;
}

.line1 {
  font-weight: bold;
  margin-top: 40px;
  line-height: 60px;
  margin: 0px;
}

.line2 {
  line-height: 30px;
  margin: 0px;
}

.line3 {
  line-height: 40px;
  margin: 0px;
}
.startBtnContainer {
}
.start-btn {
  background-color: #358380;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}
