.optionsContainer{
     background-color: #358380;
     border-radius: 10px;
     padding: 15px 20px;
     cursor:pointer;
     margin-top: 5px;
 }
 .option{
      margin: 0px;
      padding: 0px;
      color: #fff;
      text-transform: capitalize;
 }
 .optionsContainer:hover{
      background-color: orange;
 }