.header{
     display:flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
     background-color: dodgerblue;
     align-items: center;
     padding: 20px 30px;  
}