.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.modelHighScore {
  margin-top: 100px;
  padding: 50px 30px;
  border: 1px solid;
  border-color: rgb(206, 203, 203);
  border-radius: 25px;
  box-shadow: 10px 6px #d8d5d5;
}

.back-btn {
  background-color: #358380;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.clear-btn {
  background-color: #358380;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}
